- content_for(:title) { 'Mapforge Admin' }
%h1
  Mapforge Admin


#maps.flex-container
  - @maps.each do |map|
    %div.flex-item.map-preview{id: dom_id(map)}
      = link_to maplibre_path(id: map.id) do
        - if File.exist?(Rails.root.join("public/previews/#{map.public_id}.png"))
          %img{src: "/previews/#{map.public_id}.png", class: 'preview-image'}
        - else
          = image_tag "preview.png", class: 'preview-image'
        .map-preview-title= map.properties[:name]
      %i= "last change #{distance_of_time_in_words(DateTime.now, map.updated_at)} ago"
      %br
      = "#{map.features.count} features"
      %br
      public id:
      = link_to map.public_id, maplibre_path(id: map.public_id)
      %br
      = button_to 'Delete', destroy_map_path(id: map.id), method: :delete, data: { turbo_method: :delete }


= link_to "New map", new_map_path

%hr

= link_to 'Contact', 'tom@digitalflow.de'

= link_to 'Github', 'https://github.com/digitaltom/mapforge'
