#map-modal.map-modal{'data-controller': "maplibre"}
  %h2 Configure Map
  %label{ for: "map-name"} Name:
  %br
  %input#map-name{type: "text", size: 27}
  %br
  %label{for: "map-baselayer"} Base Map:
  %br
  - Map::BASE_MAPS.each do |base_map|
    - active = (@map.properties[:base_map] == base_map)
    = image_tag("base_maps/#{base_map}.jpg", data: { layer: base_map, action: "click->maplibre#update_basemap"},
                class: "layer-preview #{"active" if active}")
  - if ENV['MAPTILER_KEY']
    - Map::MAPTILER_MAPS.each do |base_map|
      - active = (@map.properties[:base_map] == base_map)
      = image_tag("base_maps/#{base_map}.jpg", data: { layer: base_map, action: "click->maplibre#update_basemap"}, class: "layer-preview #{"active" if active}")
  %br
  Center:
  %span#map-center
    = @map.properties[:center].join(', ')
    %i#map-center-current
  %br
  Zoom:
  %span#map-zoom
    = @map.properties[:zoom]
    %i#map-zoom-current
  %br
  Pitch:
  %span#map-pitch
    = "#{@map.properties[:pitch]}°"
    %i#map-pitch-current
  %br
  %span
    %label{ for: "map-terrain"} Terrain:
    %input#map-terrain{type: "checkbox", checked: @map.properties[:terrain],      data: { action: "click->maplibre#update_terrain"} }
  %br
  %a#set-map-center{href: '#', data: { action: "click->maplibre#update_mapdata" } } Set initial map view to current center/zoom/pitch
