#maplibre-map.map

.flex-container.flex-no-wrap
  %span#mapforge-logo.mapforge-font.white-shadow
    Mapforge
  %span#map-title

= render 'map_modal_maplibre'
= render 'layers_modal_maplibre'
= render 'share_modal'

= render 'edit_buttons'
= render 'edit_feature'
