- # https://turfjs.org/
= javascript_include_tag "https://unpkg.com/@turf/turf@6/turf.min.js"

= javascript_include_tag "https://unpkg.com/@mapbox/togeojson"

- # https://github.com/Ionaru/easy-markdown-editor
= javascript_include_tag "https://unpkg.com/easymde/dist/easymde.min.js"
= stylesheet_link_tag "https://unpkg.com/easymde/dist/easymde.min.css"

= stylesheet_link_tag "https://unpkg.com/@mapbox/mapbox-gl-draw@1.4.3/dist/mapbox-gl-draw.css"
= stylesheet_link_tag "https://cdn.maptiler.com/maptiler-geocoding-control/v1.4.1/style.css"

#maplibre-map.map

#map-logo-title.flex-container.flex-no-wrap
  = render 'shared/menu'
  %span#mapforge-logo.mapforge-font.white-shadow
    Mapforge
  %span#map-title.dark-shadow

- unless @map_mode == 'static'
  = render 'status'
  = render 'maps/modals/settings' if @map_mode == 'rw'
  = render 'maps/modals/layers'
  = render 'maps/modals/share'
  = render 'maps/modals/feature'
