- # https://turfjs.org/
= javascript_include_tag "https://unpkg.com/@turf/turf@6/turf.min.js"

- # https://github.com/Ionaru/easy-markdown-editor
= javascript_include_tag "https://unpkg.com/easymde/dist/easymde.min.js"

= javascript_include_tag "https://unpkg.com/@mapbox/togeojson"

#maplibre-map.map

#map-logo-title.flex-container.flex-no-wrap
  = render 'shared/menu'
  %span#mapforge-logo.mapforge-font.white-shadow
    Mapforge
  %span#map-title.dark-shadow

- unless params["static"]
  = render 'status'
  = render 'maps/modals/settings'
  = render 'maps/modals/layers'
  = render 'maps/modals/share'
  = render 'maps/modals/feature_details'
