#maplibre-map.map

#map-logo-title.flex-container.flex-no-wrap
  = render 'shared/menu'
  %span#mapforge-logo.mapforge-font.white-shadow
    Mapforge
  %span#map-title

= render 'status'
= render 'map_modal_maplibre'
= render 'layers_modal_maplibre'
= render 'share_modal'
= render 'maps/modals/feature_details'

= render 'edit_buttons'
= render 'maps/modals/edit_feature'
