- # https://turfjs.org/
= javascript_include_tag "https://unpkg.com/@turf/turf@6/turf.min.js"

= javascript_include_tag "https://unpkg.com/@mapbox/togeojson"

- # https://github.com/Ionaru/easy-markdown-editor
= javascript_include_tag "https://unpkg.com/easymde/dist/easymde.min.js"

- # Importmap modules
= javascript_import_module_tag "maplibre"
= javascript_import_module_tag "controllers"

- content_for :title, "Mapforge: #{(@map.name.presence || @map.id)}"
- content_for :head do
  - if @map.screenshot
    %meta{ 'og:image': "#{request.protocol}#{request.host_with_port}#{@map.screenshot}" }

#preloader
  %img.mapforge-logo{ src: "/icons/mapforge-logo-header_white.png", alt: "Logo" }

#map-head.dark-shadow{ title: "Toggle Navigation", data: { 'controller': "map", 'action': "click->map#toggleNavigation", 'toggle': "tooltip", 'bs-placement': "bottom", 'bs-custom-class': 'maplibregl-ctrl-tooltip' } }
  %i#map-nav-toggle.bi.bi-caret-down.ms-2.me-2
  #map-title

#maplibre-map.map.hidden

- unless @map_mode == 'static'
  = render 'status'
  = render 'maps/modals/settings' if @map_mode == 'rw'
  = render 'maps/modals/layers'
  = render 'maps/modals/share'
  = render 'maps/modals/feature'

#dropdown-space
