#map.map

#flash
  #flash-container

#feature-details
  .feature-details-window
    %h4.feature-details-title Title
    %p.feature-details-desc Desc
    %button.feature-delete Delete

#map-modal
  %h2 Configure Map
  %label{ for: "map-name"} Name:
  %br
  %input#map-name{type: "text", size: 27}
  %br
  %label{for: "map-baselayer"} Base Map:
  %br
  - ['osm', 'satellite', 'satelliteStreets', 'esriTiles', 'stamenToner', 'stamenWatercolor', 'openTopoTiles'].each do |base_map|
    - active = (@map.properties[:base_map] == base_map)
    = image_tag("base_maps/#{base_map}.jpg", data: { layer: base_map},
                class: "layer-preview #{"active" if active}")
  %br
  Center:
  %i#map-center= @map.properties[:center]
  %br
  Zoom:
  %i#map-zoom= @map.properties[:zoom]
  %br
  %a#set-map-center{href: '#'} Set initial map view to current center/zoom



  .feature-details-window
    %h4.feature-details-title Title
    %p.feature-details-desc Desc
    %button.feature-delete Delete
