#share-modal.map-modal.fade{'data-controller': "layers"}

  .map-modal-header
    %h2
      %i.bi.bi-arrow-left.link{ data: { action: "click->layers#close" } }
      Share Map

  .map-modal-content
    %ul
      %li= link_to 'Viewer link', map_path(id: @map.public_id)
      %li= link_to 'Edit link', map_path(@map)
      %li= link_to 'Download geojson', map_path(@map.public_id, format: :geojson)
      %li= link_to 'Download gpx', map_path(@map.public_id, format: :gpx)
      %li= link_to 'Download map export', map_path(id: @map.public_id, format: :json)

