%nav.navbar.navbar-expand-lg.navbar-light{class: "#{'fixed-top' if static}"}
  .container-fluid
    %a.navbar-brand{href: '/'}
      %img.mapforge-logo{ src: "/icons/mapforge-logo-header_white.png", alt: "" }
      .mapforge-font.white-shadow{ href: "#" } Mapforge

    %button.navbar-toggler{ type: "button", "data-bs-toggle": "collapse", "data-bs-target": "#navbarSupportedContent", "aria-controls": "navbarSupportedContent", "aria-expanded": "false", "aria-label": "Toggle navigation" }
      %span.navbar-toggler-icon

    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0.mt-1
        - if menu
          %li.nav-item
            %a.nav-link.active{ "aria-current": "page", href: maps_path } Explore

      .d-flex.align-items-center
        - if create_button
          = link_to create_map_path, { class: 'me-4 btn btn-orange', data: { turbo_method: :post } } do
            %i.bi.bi-plus-square
            Create map

        - if @user
          .nav-item.dropdown.profile-dropdown

            %a.nav-link.dropdown-toggle{ href: "#", id: "navbarDropdown", role: "button", "data-bs-toggle": "dropdown", "aria-expanded": "false" }
              - if @user.image
                %img.profile-image{ src: @user.image, alt: '', title: @user.email }
              - else
                %i.profile-image.fs-4.bi.bi-person-circle
            %ul.dropdown-menu{ "aria-labelledby": "navbarDropdown" }
              - if @user.admin?
                %li
                  %a.dropdown-item{ href: "/admin" }
                    %i.bi.bi-person-workspace
                    Admin
              %li
                = link_to my_path, { class: 'dropdown-item' } do
                  %i.bi.bi-map
                  = "Your maps (#{@user.maps_count})"
              %li
                = link_to logout_path, { class: 'dropdown-item', data: { turbo: false } } do
                  %i.bi.bi-box-arrow-in-left
                  Logout
        - else
          .nav-item
            = link_to login_path, { class: 'nav-link' } do
              %i.bi.bi-person-circle
              Login

