%main#frontpage.main{ data: { 'controller': "frontpage" } }

  / Hero Section
  #hero.hero.section.dark-background
    = image_tag "frontpage/background_map3.jpg", alt: "", 'data-aos': "zoom-out", 'data-aos-once': "true"
    .container
      .row
        .col-lg-6.welcome-text
          %h1.mapforge-font{ 'data-aos': "fade-up" } Create your own maps
          %blockquote{ 'data-aos': "fade-up" }
            %p Mapforge lets you create and share individual maps. You can build your own unique maps by layering your data onto various base maps. Collaborate in real-time just like editing a document together online and share your maps.
            %p Mapforge.org is free to use and available as open-source for self-hosting, giving you full control over your data.


  %section#features.why-us.section
    .row.g-0
      .col-lg-5.img-bg
        %img{ src: "images/frontpage/feature0.png", id: 'swiper-image', alt: "", loading: 'lazy' }
      .col-lg-7.background-dark.slides.position-relative
        .swiper.init-swiper
          .swiper-wrapper
            .swiper-slide
              .item
                %h3.mb-3.mapforge-font Map tools
                %h4.mb-3 Use these features to create your customized map:
                %ul
                  %li Choose from different vector and raster base maps: Streets, satellite, topographic, biking, 3D houses etc.
                  %li Import/Export: Supports GeoJSON, GPX, KML
                  %li Advanced Styling: Customize colors, symbols, labels, (3D) polygons and more
                  %li Image Upload: Add your pictures as icons and in descriptions
                  %li 3D Terrain: View your trail with realistic elevation
            .swiper-slide
              .item
                %h3.mb-3.mapforge-font Collaboration
                %h4.mb-3 Work with others and stream map changes to all connected clients
                %ul
                  %li Live updates: Map changes are synchronized via websockets
                  %li Login: Have your maps assigned to your account
                  %li Access control: Decide to share map with view-only or edit permissions
            .swiper-slide
              .item
                %h3.mb-3.mapforge-font Cross platform
                %h4.mb-3 Use Mapforge with different clients + apps
                %ul
                  %li Responsive Design: Works well both desktop and mobile
                  %li
                    Map your track: Use
                    = link_to "µlogger", "https://github.com/mapforge-org/mapforge/blob/main/engines/ulogger/README.md"
                    to visualize and share your tracks live
            .swiper-slide
              .item
                %h3.mb-3.mapforge-font Open Source
                %h4.mb-3 Standing on the shoulders of giants
                %ul
                  %li
                    Used open source projects:
                    = link_to "Ruby on Rails", "https://rubyonrails.org/"
                    for the backend,
                    = link_to "MapLibre GL JS", "https://github.com/maplibre/maplibre-gl-js"
                    and
                    = link_to "OpenStreetMap", "https://www.openstreetmap.org"
                    for the frontend,
                    = link_to "mapbox-gl-draw", "https://github.com/mapbox/mapbox-gl-draw"
                    ,
                    = link_to "Turf.js", "https://turfjs.org/"
                    ,
                    = link_to "Openrouteservice", "https://openrouteservice.org/"
                    as helping libraries.
                  %li
                    Self-Hosted Solution:
                    You can use Mapforge either on
                    = link_to "mapforge.org", "https://mapforge.org"
                    , or
                    = link_to "deploy it", "https://github.com/mapforge-org/mapforge/blob/main/README.md"
                    in your own infrastructure
          .swiper-pagination
        .swiper-button-prev
        .swiper-button-next
