!!!
%html{ lang: 'en' }
  %head
    %title= content_for?(:title) ? yield(:title) : 'mapforge.org'
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }

    = csrf_meta_tags
    = csp_meta_tag

    / fonts
    %link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css", type: "text/css"}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap", type: "text/css"}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap", type: "text/css"}

    / css
    %link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css", type: "text/css", crossorigin: "anonymous"}
    / openlayers
    %link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/ol@v9.0.0/ol.css", type: "text/css"}
    %link{rel: "stylesheet", href: "https://ga.jspm.io/npm:ol-ext@4.0.13/dist/ol-ext.css", type: "text/css"}

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

    = javascript_include_tag "https://cdn.jsdelivr.net/npm/ol@9.0.0/dist/ol.js"
    = javascript_include_tag "https://ga.jspm.io/npm:ol-ext@4.0.13/dist/ol-ext.js"
    = javascript_include_tag "https://unpkg.com/ol-mapbox-style@12.1.1/dist/olms.js"
    = javascript_include_tag "https://unpkg.com/@turf/turf@6/turf.min.js"


    = yield(:head)

  %body
    = Gon::Base.render_data

    = yield

