!!!
%html{ lang: 'en' }
  %head
    %title= content_for?(:title) ? yield(:title) : 'mapforge.org'
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }

    = csrf_meta_tags
    = csp_meta_tag

    %link{rel: "stylesheet", href: "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css", type: "text/css"}
    %link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/ol@v8.2.0/ol.css", type: "text/css"}
    %link{rel: "stylesheet", href: "https://ga.jspm.io/npm:ol-ext@4.0.13/dist/ol-ext.css", type: "text/css"}

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = javascript_importmap_tags

    = javascript_include_tag "https://cdn.jsdelivr.net/npm/ol@8.2.0/dist/ol.js"
    = javascript_include_tag "https://ga.jspm.io/npm:ol-ext@4.0.13/dist/ol-ext.js"
    = javascript_include_tag "https://unpkg.com/ol-mapbox-style@12.1.1/dist/olms.js"
    = javascript_include_tag "https://unpkg.com/@turf/turf@6/turf.min.js"


    = yield(:head)

  %body
    = Gon::Base.render_data

    = yield

